.owner-photos {
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 5%;
    align-items: flex-end;
}

.owner-photos .fileUploader {
    width: max-content;
    margin: 0 50px 0 0;
}

.owner-photos .fileContainer,
.owner-photos .fileContainer button {
    margin: 0;
}