header {
    background-color: #303030 !important;
    color: #fff !important;
    position: fixed !important;
}

.header-navigation {
    height: 64px;
}

.header-navigation a {
    color: #f2f2f2 !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    text-decoration: none;
    font-size: 17px;
}

.header-navigation a.active {
    background-color: #33ADFF;
    color: #f2f2f2 !important;
}

.header-navigation a:hover {
    background-color: #ddd;
    color: black !important;
    text-decoration: none !important;
}

.header-logo {
    height: 64px;
    width: 8vw;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.header-logo img {
    margin: auto;
}

.left-navigation {
    height: 64px;
    display: flex;
    align-items: center;
    margin: 0 0 0 10%;
}

.left-navigation a {
    color: #fff !important;
    font-size: 25px;
    margin: 0 20px 0 0;
}

.left-navigation a:hover {
    color: #33ADFF !important;
    margin: 0 20px 0 0;
}

.left-navigation a.active {
    color: #33ADFF !important;
}

.display-user-name {
    color: #fff;
}

.display-role {
    color: #aaaaaa;
}

.custom-label {
    color: rgba(0, 0, 0, 0.54) !important;
    padding: 0;
    font-size: 14px !important;
    font-family: Muli, Roboto, "Helvetica", Arial, sans-serif !important;
    line-height: 1;
    transform-origin: top left;
    font-weight: 400 !important;
}