@import 'normalize.css';
@import 'print.css';
@import 'tables.css';
@import 'react-table.css';
@import 'prism.css';
@import 'tailwind.css';
@import 'header.css';
@import 'landing.css';
@import 'users.css';

* {
    outline: none !important;
}

html {
    font-size: 62.5%;
    font-family: Muli, Roboto, Helvetica Neue, Arial, sans-serif;
    background-color: #262933;
}

body {
    font-size: 14px;
    line-height: 1.4;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: initial;
    position: relative;
}

h1, .h1 {
    font-size: 24px;
}

h2, .h2 {
    font-size: 20px;
}

h3, .h3 {
    font-size: 16px;
}

h4, .h4 {
    font-size: 15px;
}

h5, .h5 {
    font-size: 13px;
}

h6, .h6 {
    font-size: 12px;
}

.font-medium {
    color: #5f5f5f;
}

.welcome-title {
    margin: 0 auto;
}

.welcome-title h2 {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    margin: 0 auto;

    color: #fff;
    font-size: 2vw;
    letter-spacing: 10px;
}

.welcome-title h1 {
    font-family: Helvetica, sans-serif;

    color: #fff;
    font-size: 5vw;
    font-weight: bold;
    letter-spacing: 15px;
}

.size-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.ps > .ps__rail-y,
.ps > .ps__rail-x {
    z-index: 99;
}

a[role=button] {
    text-decoration: none;
}

/*login*/
.login-page .background {
    background: url("../img/registrationBag.jpg") no-repeat -5vw 10px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-page .login-form-side {
    height: 100%;
    padding: 0 40px;
    justify-content: center;
}

/*registration*/
.registration-page .background {
    background: url("../img/registrationBag.jpg") no-repeat -5vw 10px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-page .background h3,
.registration-page .background h3 {
    color: #fff !important;
    display: block;
    margin: 0 auto;
}

.social-login {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
}

.social-login button {
    background: none !important;
    width: max-content !important;
}

.icon-block {
    display: flex;
    align-items: center;
}

.icon-block .hover {
    display: none;
}

.icon-block:hover .hover {
    display: block;
}

.icon-block:hover .default {
    display: none;
}

.social-login .social-icon {
    width: 50px;
    cursor: pointer;
}


/* Medium Devices, Desktops Only */
@media only screen and (min-width: 992px) {
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        background-color: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar:hover {
        width: 12px;
        height: 12px;
        background-color: rgba(0, 0, 0, 0.06);
    }

    ::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.24);
        border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb:active {
        box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.37);
        border-radius: 20px;
    }
}

form label {
    z-index: 99;
}

.full-height {
    height: calc(100vh - 64px);
}

body {
    font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
    position: relative;
}

.autocom {
    position: relative;
    width: 100%;
}

.autocom label {
    position: absolute;
    left: 15px;
    background: #fff;
    padding: 0 3px;
    top: -5px;
    color: #2D323E;
    font-size: 12px;
    font-family: Muli, Roboto, "Helvetica", Arial, sans-serif;
    line-height: 1;
}


form button {
    background-color: #32ADFF !important;
}

form button[disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
}

.organization-status {
    color: #32ADFF;
    margin: 10px 0 0 0;
    text-align: center;
}

.react-autosuggest__input {
    width: 100%;
    height: 56px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.react-autosuggest__input:focus {
    border: 2px solid #3C4252;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 100%;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
    color: #000000 !important;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #000000 !important;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
    color: #000000 !important;

}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
    color: #000000 !important;

}

.container {
    display: flex;
}
