.landing-page {
    background-color: #fff;
}

.landing-page .banner-area {
    background-size: cover;
    height: calc(100vh - 64px);
    overflow: hidden;
    z-index: 10;
}

.landing-page .container {
    height: 100%;
}

.landing-page .login-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    height: calc(100vh - 64px);
    top: 0;;
    right: 2.4rem;
    background: rgba(255, 255, 255, 0.9);
}

.landing-page .login-form .social-login {
    height: max-content;
    margin: 20px 0;
}

.landing-page .login-form .social-login img,
.landing-page .login-form .social-login button {
    width: 30px;
    height: 30px;
    padding: 0 !important;
}

.about {
    margin-top: 100px !important;
    display: flex;
    justify-content: space-between;
}

.about .about-description {
    flex: 1;
}

.about .about-description p {
    font-size: 18px;
    color: #3e3e3e;
    margin: 0 0 30px 0;
}

.about .about-description p span {
    font-size: 18px;
    margin: 0 0 30px 0;
    color: #33ADFF !important;
    font-weight: bold;
    font-style: italic;
}

.about h2 {
    color: #33ADFF !important;
    margin: 0 0 30px 0;
}

html {
    scroll-behavior: smooth;
}

.banner-area .overlay-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}

.banner-area .overlay-bg2 {
    background-color: rgba(0, 0, 0, 0.3) !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}

.banner-content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    z-index: 100;
}

.banner-content .testBaner {
    /*background: rgba(0, 0, 0, 0.54);*/
    border-radius: 20px;
    padding: 50px;
}

.banner-content .testBaner h3 {
    color: #fff !important;
    font-size: 23px;
    margin: 30px 0 0 0;
    letter-spacing: 8px;
}

.banner-content .testBaner p {
    font-size: 18px;
}

.landing-page h2 {
    color: #fff;
    font-size: 2vw;
    letter-spacing: 10px;
}

.landing-page h1 {
    color: #fff;
    font-size: 5vw;
    font-weight: bold;
    letter-spacing: 15px;
}

.landing-page .images {
    display: flex;
    justify-content: space-around;
    margin: 100px 0 -100px 0;
    z-index: 10000;
}

.landing-page .images > div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 10;
}

.landing-page .images img {
    width: 100% !important;
    z-index: 10;
}

.footer-area {
    background: #303030;
    padding: 200px 0 0 0;
}

.footer-area .content {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-area .single-footer-widget h6 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 40px;
}

.footer-area .single-footer-widget .footer-nav li {
    margin-bottom: 12px;
}

.footer-area .single-footer-widget .footer-nav li a {
    color: #777777;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer-area .single-footer-widget .footer-nav li a:hover {
    color: #fab700;
}

.footer-area .single-footer-widget .list-contact .lnr {
    color: #fff;
    font-size: 18px;
}

.footer-area .single-footer-widget .list-contact .detail h4 {
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
    color: #fff;
}

.footer-area .single-footer-widget .list-contact .detail p {
    margin-left: 20px;
    margin-top: 8px;
}

@media (max-width: 960px) {
    .footer-area .single-footer-widget {
        margin-bottom: 30px;
    }
}

.footer-area .copyright-text {
    background-color: #1e1c27;
    padding: 20px 0;
    text-align: center;
}

.footer-area .copyright-text a {
    color: #fab700;
}

.footer-area .copyright-text .footer-social {
    text-align: right;
}

.footer-area .copyright-text .footer-social a {
    color: #777777;
    margin-left: 20px;
}

.footer-area .copyright-text .footer-social a:hover {
    color: #fab700;
}

.terms-link {
    color: #32ADFF;
    text-decoration: underline;
}

@media (max-width: 800px) {
    .landing-page .login-form {
        position: relative !important;
        height: 350px;
        padding: 30px;
        right: 0;
    }

    .landing-page .login-form .social-login {
       display: none;
    }

    .landing-page .about {
        flex-direction: column;
        padding: 0 20px;
    }

    .landing-page .images {
        flex-wrap: wrap;
    }
    .landing-page .banner-area {
        height: calc(50vh - 64px);
    }

    .landing-page h2 {
        font-size: 20px;
    }
}