.header-users-page {
    display: flex;
    align-items: center;
    height: 120px;
}

.header-users-page h4 {
    width: 35%;
    font-size: 25px;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.header-users-page h4 svg {
    font-size: 20px;
    margin: 0 10px 3px 0;
}

.header-users-page .search-block {
    position: relative;
    width: 50%;
}

.react-datepicker__input-container {
    width: 100%;
}

.header-users-page .search-block input {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    padding: 0 0 0 40px;
}

.header-users-page .search-block span {
    color: #565656;
    position: absolute;
    left: 10px;
    top: 8px;
}

.img-block-in-table {
    position: relative;
    display: flex;
    align-items: center;
    color: #000 !important;
}

.react-phone-number-input {
    margin-top: 10px !important;
    line-height: 1.1875em !important;
}

.react-phone-number-input__input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
    height: 32px !important;
    padding: 6px 0 7px !important;
}

.react-phone-number-input__input:focus {
    border-bottom: 2px solid #2D323E !important;
}

.exclamation-icon {
    color: #33ADFF;
    font-size: 20px;
}

.img-block-in-table .img {
    /*position: absolute;*/
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 10px 0 0;
}

.filters-block header {
    position: relative !important;
}

.filters-tab div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filters-tab button {
    background: #fff;
}

.filters-tab button[aria-selecte=true],
.filters-tab button[aria-selected=true] > span > span {
    background: #609 !important;
    color: #fff !important;
}

.filters-tab button > span {
    padding: 0;
}

.filters-tab button > span > span {
    background: #fff !important;
    text-align: left;
    color: #000 !important;
}

.img-block-in-table .img img {
    width: 100%;
}

.drop-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 0;
}

.drop-block .fileContainer {
    box-shadow: none;
    padding: 0;
}

.drop-block .fileContainer img,
.drop-block .fileContainer p {
    display: none;
}

.drop-block .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.drop-block .img img {
    width: 100%;
}

/*----------------------------------------*/
.toolbar-users-page {
    width: 100%;
    margin: 48px 0 0 0;
    background: #fff;

    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.toolbar-users-page h6 {
    margin: 10px 100px 0 20px;
}

.user-actions span:first-child {
    margin: 0 20px 0 -20px;
}

.user-actions span:first-child:hover {
    color: #33ADFF;
    cursor: pointer;
}

.user-actions span:last-child:hover {
    color: #b61423;
    cursor: pointer;
}

.users-list-table .-filters .rt-th:nth-child(7) {
    overflow: initial !important;
}

.date-filter {
    width: 129px !important;
    height: 29px;
    padding: 5px 7px;
    font-size: 16px !important;
    border-radius: 3px;
    font-weight: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
    margin: 1px 0 10px 0;
}
.date-filter:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.81) !important;
}
.date-filter:focus {
    border-bottom: 2px solid #039be5 !important;
}

/*dialog window*/

.new-user-window form > div {
    margin: 0 0 20px 0;
}

.user-window {
    min-width: 430px;
}

